:root {
  --fd-cream: #f8f7fb;
  --fd-gray-50: #f5f4f8;
  --fd-gray-100: #eeedf2;
  --fd-gray-200: #e0dfe6;
  --fd-gray-300: #cdcbd4;
  --fd-gray-400: #9e9baa;
  --fd-gray-500: #716e7e;
  --fd-gray-600: #534f60;
  --fd-gray-700: #3e3a4a;
  --fd-gray-800: #2a2833;
  --fd-gray-850: #232129;
  --fd-gray-900: #1e1c21;
  --fd-gray-950: #13121a;
  --fd-accent-100: #e8f5d0;
  --fd-accent-200: #c8e494;
  --fd-accent-300: #a3d154;
  --fd-accent-400: #82b536;
  --fd-accent-500: #82b536;
  --fd-accent-600: #4d7a15;
  --fd-accent-700: #416812;
  --fd-accent-800: #365610;
  --fd-accent-900: #253b0a;

  --fd-background: var(--fd-cream);
  --fd-foreground: var(--fd-gray-800);
  --fd-muted: var(--fd-gray-100);
  --fd-mutfd-foreground: var(--fd-gray-500);
  --fd-card: var(--fd-cream);
  --fd-border: var(--fd-gray-300);
  --fd-primary: var(--fd-accent-600);
  --fd-primary-foreground: #fff;
  --fd-code: var(--fd-gray-50);
  --fd-selection: var(--fd-accent-200);
  --fd-radius: 0.25rem;
}

.dark {
  --fd-background: var(--fd-gray-900);
  --fd-foreground: var(--fd-gray-200);
  --fd-muted: var(--fd-gray-800);
  --fd-mutfd-foreground: var(--fd-gray-400);
  --fd-card: var(--fd-gray-900);
  --fd-border: var(--fd-gray-700);
  --fd-primary: var(--fd-accent-400);
  --fd-primary-foreground: var(--fd-accent-900);
  --fd-code: var(--fd-gray-950);
  --fd-selection: var(--fd-accent-800);
}
